body{
  margin:0;
  font-family:Segoe UI;
  background:linear-gradient(-45deg,#0f2027,#203a43,#2c5364,#1c92d2);
  background-size:400% 400%;
  animation:bg 12s infinite alternate;
  color:white;
  text-align:center;
}

/* Background animation */
@keyframes bg{
  0%{background-position:left;}
  100%{background-position:right;}
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:rgba(0,0,0,0.4);
  backdrop-filter:blur(8px);
  animation:slide 1s ease;
}

@keyframes slide{
  from{transform:translateY(-80px);opacity:0;}
  to{transform:translateY(0);opacity:1;}
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:20px;
  font-weight:bold;
  position:relative;
}

/* underline animation */
nav a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-5px;
  width:0%;
  height:2px;
  background:white;
  transition:.4s;
}

nav a:hover::after{
  width:100%;
}

/* HERO */
.hero{
  padding:100px 20px;
  animation:fade 2s ease;
}

@keyframes fade{
  from{opacity:0;}
  to{opacity:1;}
}

.hero button{
  padding:12px 28px;
  border:none;
  border-radius:30px;
  background:linear-gradient(to right,#ff512f,#dd2476);
  color:white;
  font-weight:bold;
  cursor:pointer;
  transition:.4s;
}

.hero button:hover{
  transform:scale(1.15);
  box-shadow:0 0 20px #ff4b2b;
}

/* TEAMS */
.teams{
  padding:40px 20px;
}

.team-container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
}

.card{
  background:rgba(255,255,255,0.1);
  padding:25px;
  width:220px;
  border-radius:15px;
  backdrop-filter:blur(10px);
  transition:.4s;
  animation:pop 1s ease forwards;
}

@keyframes pop{
  from{transform:scale(.5); opacity:0;}
  to{transform:scale(1); opacity:1;}
}

.card:hover{
  transform:translateY(-12px) scale(1.05);
  background:rgba(255,255,255,0.2);
}

/* MATCHES */
.matches{
  padding:40px 20px;
}

.match{
  background:rgba(0,0,0,0.4);
  margin:15px auto;
  width:250px;
  padding:15px;
  border-radius:12px;
  transition:.3s;
}

.match:hover{
  transform:scale(1.08);
  background:#ff4b2b;
}

/* FOOTER */
footer{
  padding:25px;
  background:rgba(0,0,0,0.5);
  margin-top:40px;
}
