form{
    width:600px;
    margin:auto;
    background-color: aliceblue;
    padding:25px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px grey;
}
h2{
    text-align: center;
    color:#003366;
}
body{
    font-family: Roboto;
    background-color: rgb(188, 205, 197);
}
input,select,textarea{
    width: 100%;
    margin: 5px;
    padding:4px;
}
label{
    font-weight: bold;
}