.body-background{
    background-image:url("bgcover.jpg");
    height:100vh;
    background-size: cover; 

}
.main-container{
    width: 500px;
    display:flex;
    flex-direction: column;
    background-color: aliceblue;
    margin: 35px auto;
    box-shadow: 5px 5px 10px yellowgreen;

}
.quote{
    text-align: center;
    font-size:45px ;
    font-weight: bold;
    padding:0px;


}
.image-box{
    width:100px;
    height:auto;
}